.submenuContainer-2gbm7M {
  z-index: 1;
}
.image-tools-lens,
.image-tools-color-picker-prev {
  z-index: 1;
  position: absolute;
}
.image-tools-lens {
  border: 2px solid var(--interactive-hover);
  margin: -2px;
  display: none;
  overflow: hidden;
}
.image-tools-lens > div > * {
  pointer-events: none;
}
.image-tools-lens > div > div > *,
.image-tools-lens > div > div {
  width: inherit !important;
  height: inherit !important;
}
.image-tools-color-picker-prev {
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  border: 2px solid var(--interactive-hover);
  border-radius: 5px;
}
.image-tools-blur-image img {
  filter: blur(2.4px) brightness(0.4);
}
.image-tools-overlay-ui {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.image-tools-overlay-ui > div {
  opacity: 1;
  width: 100%;
  min-width: 500px;
  padding: 10px 0 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.image-tools-overlay-ui > .lens-config {
  color: white;
  font-size: 15px;
  text-align: right;
  opacity: 1;
  bottom: 100%;
  left: 0;
  transform: none;
}
.image-tools-overlay-ui > .lens-config p,
.image-tools-overlay-ui > .lens-config .image-info > div {
  margin: 5px;
}
.image-tools-overlay-ui > .lens-config .lens-hide {
  opacity: 0;
  transition: 2s;
}
.image-tools-overlay-ui > .header {
  top: -60px;
  display: flex;
  justify-content: center;
  color: var(--interactive-active);
}
.image-tools-overlay-ui > .header .button {
  width: 35px;
  height: 35px;
  background: radial-gradient(rgba(212, 212, 212, 0.5) 0%, rgba(255, 255, 255, 0.5));
  pointer-events: all;
  margin: 0 10px;
  opacity: 0.5;
}
.image-tools-overlay-ui > .header .button:hover {
  opacity: 1;
}
.image-tools-overlay-ui > .footer a {
  position: relative;
  pointer-events: all;
}
.image-tools-overlay-ui > .footer .content {
  display: flex;
  justify-content: space-between;
}
.image-tools-overlay-ui > .footer .content .buttons div {
  display: flex;
}
.image-tools-overlay-ui > .footer .content .buttons div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2d32;
  margin: 2px;
  width: 30px;
  height: 30px;
  pointer-events: all;
}
.image-tools-overlay-ui > .footer .content .buttons div > div:hover {
  background-color: #1f2024;
}
.image-tools-overlay-ui > .footer .content .image-info {
  width: 70%;
}
.image-tools-overlay-ui > .footer .content .image-info .string {
  display: flex;
  justify-content: flex-end;
}
.image-tools-overlay-ui > .footer .content .image-info .string p {
  padding: 0 3px;
  margin: 0;
  pointer-events: all;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.image-tools-overlay-ui > .footer .content .image-info .string p:hover {
  opacity: 1;
}
.image-tools-overlay-ui > .footer .content .image-info .curtail div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.image-tools-overlay-ui > .footer .content .image-info .curtail p {
  max-width: 100%;
  text-align: right;
  transition: max-width 1s;
}
.image-tools-overlay-ui > .footer .content .image-info .curtail p:hover {
  max-width: 500%;
}
.image-tools-save-dirs [class^="divider-"] {
  display: none;
}
.image-tools-save-dirs [class^="inputWrapper-"] {
  width: 100%;
}
